@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Nova paleta de cores em tons de azul */
    --primary-color: #1a56db;
    /* Azul principal */
    --primary-dark: #0f3e99;
    /* Azul escuro */
    --primary-light: #3b82f6;
    /* Azul claro */
    --primary-lighter: #ecf5ff;
    /* Azul mais claro */

    --secondary-color: #0f172a;
    /* Azul muito escuro*/
    --text-secondary: #5f6368;
    --text-primary: #202124;

    --accent-color: #38bdf8;
    /* Azul céu (acento) */
    --accent-dark: #0284c7;
    /* Azul céu escuro */

    --light-gray: #d8d8d811;
    --medium-gray: #cbd5e1;
    --dark-gray: #848484;

    /* Cores de estado */
    --success: #10b981;
    --warning: #f59e0b;
    --error: #ef4444;
    --info: #3b82f6;

    --shadow-sm: 0 0 20px #88888843;

    --transition: 0.3s ease;

    --font-poppins: "Poppins", serif;
    --font-roboto: "Roboto", serif;
}